* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: url(https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3wxNjQ3ODE4fHxlbnwwfHx8fA%3D%3D&w=1000&q=80) no-repeat center;
    background-size: cover;
    color: #333;
    height: 100vh;
}

span {
    color: rgb(232 124 221);
    font-weight: bold;
}

header {
    background-color: black;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    color: #ffffff;
    font-size: 1.2em;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    --tw-bg-opacity: 1;
    background-color: rgba(52,53,65,var(--tw-bg-opacity));
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 18px;
    color: #ffffff;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#questionTextarea {
    font-size: 1.2em;
    padding: 15px;
    border: 2px solid #d64161;
    border-radius: 8px;
    margin-bottom: 20px;
    }
.form-control{
    width: 100%;
}

button {
    background-color:rgb(183, 32, 32);
    color: #ffffff;
    font-size: 1.2em;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #229a4c;
    color: #ffffff;
}

#answerContent {
    font-size: 1.2em;
    margin-top: 30px;
    color: #ffffff;
}